<?xml version="1.0"?>
<!--
/**
 * Copyright © Getnet. All rights reserved.
 *
 * @author    Bruno Elisei <brunoelisei@o2ti.com>
 * See LICENSE for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <getnet_sub_seller>
            <general>
                <credentials>
                    <client_id_production backend_model="Magento\Config\Model\Config\Backend\Encrypted" />
                    <client_secret_production backend_model="Magento\Config\Model\Config\Backend\Encrypted" />
                    <oauth_production backend_model="Magento\Config\Model\Config\Backend\Encrypted" />
                    <client_id_homolog backend_model="Magento\Config\Model\Config\Backend\Encrypted" />
                    <client_secret_homolog backend_model="Magento\Config\Model\Config\Backend\Encrypted" />
                    <oauth_homolog backend_model="Magento\Config\Model\Config\Backend\Encrypted" />
                    <client_id_sandbox backend_model="Magento\Config\Model\Config\Backend\Encrypted" />
                    <client_secret_sandbox backend_model="Magento\Config\Model\Config\Backend\Encrypted" />
                    <oauth_sandbox backend_model="Magento\Config\Model\Config\Backend\Encrypted" />
                </credentials>
                <list_commisions>
                    <commisions>
                        <field0>
                            <brand>MASTERCARD</brand>
                            <product>CREDITO A VISTA</product>
                            <payment_plan>3</payment_plan>
                            <commission_percentage>0</commission_percentage>
                        </field0>
                        <field1>
                            <brand>MASTERCARD</brand>
                            <product>PARCELADO LOJISTA 3X</product>
                            <payment_plan>3</payment_plan>
                            <commission_percentage>0</commission_percentage>
                        </field1>
                        <field2>
                            <brand>MASTERCARD</brand>
                            <product>PARCELADO LOJISTA 6X</product>
                            <payment_plan>3</payment_plan>
                            <commission_percentage>0</commission_percentage>
                        </field2>
                        <!-- <field3>
                            <brand>MASTERCARD</brand>
                            <product>PARCELADO LOJISTA 9X</product>
                            <payment_plan>3</payment_plan>
                            <commission_percentage>0</commission_percentage>
                        </field3> -->
                        <field4>
                            <brand>MASTERCARD</brand>
                            <product>PARCELADO LOJISTA 12X</product>
                            <payment_plan>3</payment_plan>
                            <commission_percentage>0</commission_percentage>
                        </field4>
                        <field5>
                            <brand>VISA</brand>
                            <product>CREDITO A VISTA</product>
                            <payment_plan>3</payment_plan>
                            <commission_percentage>0</commission_percentage>
                        </field5>
                        <field6>
                            <brand>VISA</brand>
                            <product>PARCELADO LOJISTA 3X</product>
                            <payment_plan>3</payment_plan>
                            <commission_percentage>0</commission_percentage>
                        </field6>
                        <field7>
                            <brand>VISA</brand>
                            <product>PARCELADO LOJISTA 6X</product>
                            <payment_plan>3</payment_plan>
                            <commission_percentage>0</commission_percentage>
                        </field7>
                        <!-- <field8>
                            <brand>VISA</brand>
                            <product>PARCELADO LOJISTA 9X</product>
                            <payment_plan>3</payment_plan>
                            <commission_percentage>0</commission_percentage>
                        </field8> -->
                        <field9>
                            <brand>VISA</brand>
                            <product>PARCELADO LOJISTA 12X</product>
                            <payment_plan>3</payment_plan>
                            <commission_percentage>0</commission_percentage>
                        </field9>
                        <field10>
                            <brand>AMEX</brand>
                            <product>CREDITO A VISTA</product>
                            <payment_plan>3</payment_plan>
                            <commission_percentage>0</commission_percentage>
                        </field10>
                        <field11>
                            <brand>AMEX</brand>
                            <product>PARCELADO LOJISTA 3X</product>
                            <payment_plan>3</payment_plan>
                            <commission_percentage>0</commission_percentage>
                        </field11>
                        <field12>
                            <brand>AMEX</brand>
                            <product>PARCELADO LOJISTA 6X</product>
                            <payment_plan>3</payment_plan>
                            <commission_percentage>0</commission_percentage>
                        </field12>
                        <!-- <field13>
                            <brand>AMEX</brand>
                            <product>PARCELADO LOJISTA 9X</product>
                            <payment_plan>3</payment_plan>
                            <commission_percentage>0</commission_percentage>
                        </field13> -->
                        <field14>
                            <brand>AMEX</brand>
                            <product>PARCELADO LOJISTA 12X</product>
                            <payment_plan>3</payment_plan>
                            <commission_percentage>0</commission_percentage>
                        </field14>
                        <field15>
                            <brand>ELO CRÉDITO</brand>
                            <product>CREDITO A VISTA</product>
                            <payment_plan>3</payment_plan>
                            <commission_percentage>0</commission_percentage>
                        </field15>
                        <field16>
                            <brand>ELO CRÉDITO</brand>
                            <product>PARCELADO LOJISTA 3X</product>
                            <payment_plan>3</payment_plan>
                            <commission_percentage>0</commission_percentage>
                        </field16>
                        <field17>
                            <brand>ELO CRÉDITO</brand>
                            <product>PARCELADO LOJISTA 6X</product>
                            <payment_plan>3</payment_plan>
                            <commission_percentage>0</commission_percentage>
                        </field17>
                        <!-- <field18>
                            <brand>ELO CRÉDITO</brand>
                            <product>PARCELADO LOJISTA 9X</product>
                            <payment_plan>3</payment_plan>
                            <commission_percentage>0</commission_percentage>
                        </field18> -->
                        <field19>
                            <brand>ELO CRÉDITO</brand>
                            <product>PARCELADO LOJISTA 12X</product>
                            <payment_plan>3</payment_plan>
                            <commission_percentage>0</commission_percentage>
                        </field19>
                        <field20>
                            <brand>HIPERCARD</brand>
                            <product>CREDITO A VISTA</product>
                            <payment_plan>3</payment_plan>
                            <commission_percentage>0</commission_percentage>
                        </field20>
                        <field21>
                            <brand>HIPERCARD</brand>
                            <product>PARCELADO LOJISTA 3X</product>
                            <payment_plan>3</payment_plan>
                            <commission_percentage>0</commission_percentage>
                        </field21>
                        <field22>
                            <brand>HIPERCARD</brand>
                            <product>PARCELADO LOJISTA 6X</product>
                            <payment_plan>3</payment_plan>
                            <commission_percentage>0</commission_percentage>
                        </field22>
                        <!-- <field23>
                            <brand>HIPERCARD</brand>
                            <product>PARCELADO LOJISTA 9X</product>
                            <payment_plan>3</payment_plan>
                            <commission_percentage>0</commission_percentage>
                        </field23> -->
                        <field24>
                            <brand>HIPERCARD</brand>
                            <product>PARCELADO LOJISTA 12X</product>
                            <payment_plan>3</payment_plan>
                            <commission_percentage>0</commission_percentage>
                        </field24>
                        <field25>
                            <brand>BOLETO</brand>
                            <product>CREDITO A VISTA</product>
                            <payment_plan>3</payment_plan>
                            <commission_percentage>0</commission_percentage>
                        </field25>
                    </commisions>
                </list_commisions>
            </general>
        </getnet_sub_seller>
    </default>
</config>
